$image-height: 136px;
$small: 480px;

.home-page{
  @extend .page-hero;
  padding-bottom: 4em;
  &::after{
    content:"";
    width: 100%;
    height: $image-height;
    position: absolute;
    bottom: 0.5em;
    left: 0em;
    background: url(openlmis-home/home-background.png) no-repeat right bottom;
    @media screen and (max-width: $small) {
      background-size: 1200%
    }
  }
}

.home-page > h2{
  white-space: pre-line;
  @media screen and (max-width: $small) {
    font-size:16px;
  }
}
